extends ../base.pug

block content
  main#contents
    .contents__hero
      .hero__photo
        .hero__text
          h3
            p 유언 관련 명언
            p 유쓰 콘텐츠 핵심 멘트

    ul.contents__menu
      a.menu1.active(href="contents.html")
        li 유언장의 필요성
      a.menu2(href="qna.html")
        li 자주 묻는 질문
      a.menu3(href="#")
        li 추천 콘텐츠

    .group_program
      .inner_program
        section.box_program.menu1__program
          .title.menu1__column1
            h1.menu1__title 예상치 못한 죽음
          .contents.menu1__column2
            h1.menu1__subtitle
              | “오늘 당신이 마지막으로 보낸 메세지는 무엇이었나요?”
            h3
              p
              | 무라카미 하루키의 소설 ‘노르웨이의 숲’에는 이런 구절이
              | 있습니다.
              p
              | “죽음은 삶의 반대편에 있는 것이 아니라, 그 일부로서
              | 존재하고 있다.”
              p
              | 죽음은 우리 삶의 아주 먼 곳에 있는 것이 결코
              | 아니며, 이 죽음은 서서히 다가올 때도, 갑작스레 다가올 때도
              | 있습니다. 2018년 통계청의 사망자 통계에 따르면, 한국에서 1년에 약 40,000명 이상의 사람들이 사고사나 급성심장정지 등의 이유로 마지막 인사없이 떠납니다.
              p
              | 갑작스레 닥친 죽음이라는 상황 전, 사랑하는 사람들에게 당신의 마지막 인사를 전할 수 있다면 어떨까요?
            img(
              src="https://tumblbug-pci.imgix.net/7ad81f8e5d8c79ed9534d70ee460540cab01def4/50ad87ce50f33be13d5409e150e3da3221553f48/d56328e3af29a81247e87c8ecfcbea3196b4c5df/0375e116-dacf-42b8-92d8-163297507a9d.jpeg?ixlib=rb-1.1.0&w=1240&h=930&auto=format%2Ccompress&lossless=true&fit=crop&s=80ebf1914ddec5665012f5db7b9b74f1",
              alt=""
            )
        section.box_program
          .title.menu2__column1
            h1.menu2__title 죽음의 의미와 본질
          .contents.menu2__column2
            h1.menu2__subtitle
              | "죽음에 대해 생각해보신 적 있나요?"
            h3
              p
              | 무라카미 하루키의 소설 ‘노르웨이의 숲’에는 이런 구절이
              | 있습니다.
              p
              | “죽음은 삶의 반대편에 있는 것이 아니라, 그 일부로서
              | 존재하고 있다.”
              p
              | 죽음은 우리 삶의 아주 먼 곳에 있는 것이 결코
              | 아니며, 이 죽음은 서서히 다가올 때도, 갑작스레 다가올 때도
              | 있습니다. 2018년 통계청의 사망자 통계에 따르면, 한국에서 1년에 약 40,000명 이상의 사람들이 사고사나 급성심장정지 등의 이유로 마지막 인사없이 떠납니다.
              p
              | 갑작스레 닥친 죽음이라는 상황 전, 사랑하는 사람들에게 당신의 마지막 인사를 전할 수 있다면 어떨까요?
            img(
              src="https://tumblbug-pci.imgix.net/7ad81f8e5d8c79ed9534d70ee460540cab01def4/50ad87ce50f33be13d5409e150e3da3221553f48/d56328e3af29a81247e87c8ecfcbea3196b4c5df/0375e116-dacf-42b8-92d8-163297507a9d.jpeg?ixlib=rb-1.1.0&w=1240&h=930&auto=format%2Ccompress&lossless=true&fit=crop&s=80ebf1914ddec5665012f5db7b9b74f1",
              alt=""
            )
        section.box_program
          .title.menu3__column1
            h1.menu3__title 유언장의 역할
          .contents.menu3__column2
            h1.menu3__subtitle
              | “왜 유언장인가요?”
            h3
              p
                | 우리 사회에서 유언은 재산상속을 위한 준비를 뜻하기도 합니다.
                | 하지만 꼭 이런 상황에서만 유언장을 작성하는 것은 아닙니다.
              p 유언장은 내가 사랑하는 사람들을 위해, 그리고 나를 위해 남기는 마지막 편지입니다.
              p
                | 유언장을 작성함으로써 남겨질 사람들이 해야할 고민을 미리 덜어주고,나의 삶에 대해서 천천히 정리해보며 남은 삶의 의지를 다지는 기회가 될 수 있습니다.
            img(
              src="https://tumblbug-pci.imgix.net/7ad81f8e5d8c79ed9534d70ee460540cab01def4/50ad87ce50f33be13d5409e150e3da3221553f48/d56328e3af29a81247e87c8ecfcbea3196b4c5df/0375e116-dacf-42b8-92d8-163297507a9d.jpeg?ixlib=rb-1.1.0&w=1240&h=930&auto=format%2Ccompress&lossless=true&fit=crop&s=80ebf1914ddec5665012f5db7b9b74f1",
              alt=""
            )
