extends base.pug

block content
  // 캐쉬 슬라이드
  // 펀딩 이미지 및 링크로 연결
  main
    if popup
      p#popup= popup
    .hero
      .hero__photo
        .hero__text
          h1 YOUTH KIT
          h3
            p “나의 삶을 선명하게 만들어 줄 유쓰 KIT,
            p 새로운 구성품과 함께 2차 펀딩으로 돌아왔습니다.”
          a(href="https://tumblbug.com/writeyouth?ref=%EA%B2%80%EC%83%89%2F%ED%82%A4%EC%9B%8C%EB%93%9C") 구매하러 가기

    .coreMessage
      h1 YOUTH : 유언을 쓰다
      img(
        src="/uploads/home/main2.png",
        alt=""
      )
      h3
        p 나의 마지막을 상상해본 적 있으신가요?
        p 우리는 항상 오늘과 내일, 그리고 앞으로의 삶에 대해서는 계획을 세우고 준비합니다.
        p 그런데 왜 내 삶의 마지막인 죽음에 대해서는 생각해보지도, 준비하지도 않는 걸까요?


  section.blog
    h2.blog__title YOUTH MENU
    article.blog__post
      .post__content
        h2.post__title
          span ABOUT 유쓰
        h4
          span 유쓰를 소개합니다
        span.post__desc 
          p 유쓰는 “모두가 준비된 죽음을 맞이하는 사회”를 꿈꿉니다
        span.more
          a(href="/about")
            | 자세히 보기
            i.fa-solid.fa-arrow-right-long
      a(href="/about")
        img(
          src="/uploads/home/main3.jpg",
          alt=""
        )
        // 유쓰 사진

    article.blog__post.order
      .post__content
        h2.post__title
          span 유쓰 KIT
        h4
          span 유쓰 유언장 키트를 만나보세요
        span.post__desc 법적효력이 있는 자필 유언장을 포함한 다양한 구성품으로 나의 마지막을 스스로 준비해보세요
        span.more
          a(href="/youthkit")
            | 자세히 보기
            i.fa-solid.fa-arrow-right-long
      a(href="/youthkit")
        img(
          src="/uploads/home/main4.jpg",
          alt=""
        )
        // 유쓰 사진
    article.blog__post
      .post__content
        h2.post__title
          span 유쓰 콘텐츠
        h4 죽음 준비에 대해 더 자세히 알아보세요
        span.post__desc 죽음 준비와 관련된 다양한 콘텐츠를 소개해드립니다.
        span.more
          a(href="/contents/qna/1")
            | 자세히 보기
            i.fa-solid.fa-arrow-right-long
      a(href="/contents/qna/1")
        img(
          src="/uploads/home/main5.png",
          alt=""
        )
        // 유쓰 사진
