if pageTitle === "Home"
  header
    nav
      ul.logo
        a(href="")
          img(src="/uploads/contents/youth_logo.png")
          li YOUTH
      ul.navbar
        a(href="/about")
          li ABOUT
        a(href="/youthkit")
          li YOUTH KIT
        a(href="/contents/qna/1")
          li CONTENTS
        a(href="/community")
          li COMMUNITY
        if !loggedIn
          a(href="/login")
            li LOG IN
        else
          a(href="/logout")
            li LOG OUT
          a.profile(href="/users/edit")
            // li #{ loggedInUser.name } 님의 PROFILE
            // i.fa-solid.fa-user
            img(crossorigin="anonymous", src=`${loggedInUser.avatarUrl}`, alt="")
      button.bar
        i.fa-solid.fa-bars
  .modal.hidden
    button
      i.fa-solid.fa-x
    .modal__overlay
    ul.modal__navbar
      a(href="/about")
        li ABOUT
      a(href="/youthkit")
        li YOUTH KIT
      a(href="/contents/qna/1")
        li CONTENTS
      a(href="/community")
        li COMMUNITY
      if !loggedIn
        a(href="/login")
          li LOG IN
      else
        a(href="/users/edit")
          li #{ loggedInUser.name } 님의 PROFILE
        a(href="/logout")
          li LOG OUT

else
  header#contents
    nav
      ul.logo
        a(href="/")
          img(src="/uploads/contents/youth_logo.png")
          li YOUTH
      ul.navbar
        a(href="/about")
          li ABOUT
        a(href="/youthkit")
          li YOUTH KIT
        a(href="/contents/qna/1")
          li CONTENTS
        a(href="/community")
          li COMMUNITY
        if !loggedIn
          a(href="/login")
            li LOG IN
        else
          a(href="/logout")
            li LOG OUT
          a.profile(href="/users/edit")
            // li #{ loggedInUser.name } 님의 PROFILE
            // i.fa-solid.fa-user
            img(crossorigin="anonymous", src=`${loggedInUser.avatarUrl}`, alt="")
      button.bar
        i.fa-solid.fa-bars
  .modal.hidden
    button
      i.fa-solid.fa-x
    .modal__overlay
    ul.modal__navbar
      a(href="/about")
        li ABOUT
      a(href="/youthkit")
        li YOUTH KIT
      a(href="/contents/qna/1")
        li COONTENTS
      a(href="/community")
        li COMMUNITY
      if !loggedIn
        a(href="/login")
          li LOG IN
      else
        a(href="/users/edit")
          li #{ loggedInUser.name } 님의 PROFILE
        a(href="/logout")
          li LOG OUT
