if pageTitle === "Home"
  header
    nav
      ul.logo
        a(href="")
          img(src="/uploads/contents/youth_logo.png")
          li 유쓰
      ul.navbar
        a(href="/about")
          li ABOUT
        a(href="https://tumblbug.com/writeyouth?ref=%EA%B2%80%EC%83%89%2F%ED%82%A4%EC%9B%8C%EB%93%9C")
          li#second-list 유쓰 KIT
        a(href="/contents/qna/1")
          li#third-list CONTENTS
        a(href="/community")
          li#fourth-list COMMUNITY
        if !loggedIn
          a(href="/login")
            li LOG IN
        else
          a(href="/logout")
            li LOG OUT
          a.profile(href="/users/edit")
            // li #{ loggedInUser.name } 님의 PROFILE
            // i.fa-solid.fa-user
            img(crossorigin="anonymous", src=`${loggedInUser.avatarUrl}`, alt="")
      button.bar
        i.fa-solid.fa-bars
  .modal.hidden
    button
      i.fa-solid.fa-x
    .modal__overlay
    ul.modal__navbar
      a(href="/about")
        li ABOUT
      a(href="https://tumblbug.com/writeyouth?ref=%EA%B2%80%EC%83%89%2F%ED%82%A4%EC%9B%8C%EB%93%9C")
        li 유쓰 KIT
      a(href="/contents/qna/1")
        li CONTENTS
      a(href="/community")
        li COMMUNITY
      if !loggedIn
        a(href="/login")
          li LOG IN
      else
        a(href="/users/edit")
          li #{ loggedInUser.name } 님의 PROFILE
        a(href="/logout")
          li LOG OUT

else
  header#contents
    nav
      ul.logo
        a(href="/")
          img(src="/uploads/contents/youth_logo.png")
          li 유쓰
      ul.navbar
        a(href="/about")
          li ABOUT
        a(href="https://tumblbug.com/writeyouth?ref=%EA%B2%80%EC%83%89%2F%ED%82%A4%EC%9B%8C%EB%93%9C")
          li#second-list 유쓰 KIT
        a(href="/contents/qna/1")
          li#third-list CONTENTS
        a(href="/community")
          li#fourth-list COMMUNITY
        if !loggedIn
          a(href="/login")
            li LOG IN
        else
          a(href="/logout")
            li LOG OUT
          a.profile(href="/users/edit")
            // li #{ loggedInUser.name } 님의 PROFILE
            // i.fa-solid.fa-user
            img(crossorigin="anonymous", src=`${loggedInUser.avatarUrl}`, alt="")
      button.bar
        i.fa-solid.fa-bars
  .modal.hidden
    button
      i.fa-solid.fa-x
    .modal__overlay
    ul.modal__navbar
      a(href="/about")
        li ABOUT
      a(href="https://tumblbug.com/writeyouth?ref=%EA%B2%80%EC%83%89%2F%ED%82%A4%EC%9B%8C%EB%93%9C")
        li 유쓰 KIT
      a(href="/contents/qna/1")
        li CONTENTS
      a(href="/community")
        li COMMUNITY
      if !loggedIn
        a(href="/login")
          li LOG IN
      else
        a(href="/users/edit")
          li #{ loggedInUser.name } 님의 PROFILE
        a(href="/logout")
          li LOG OUT