extends ../base.pug

block content
  main#profile
    .profile__wrapper
      .menu
        nav
          a(href="/users/edit")
            li.menu.active 정보 수정
          if loggedInUser.socialOnly === false
            a(href="/users/editPW")
              li.menu 비밀번호 수정
          a(href="/users/delete")
            li.menu 회원 탈퇴

      .body
        form#editUser(method="POST", enctype="multipart/form-data")
          .user__photo 
            label(for="avatar")
              img(src=`${loggedInUser.avatarUrl}`, alt="")
            input#avatar(type="file", name="avatar")
          .user__info 
            .info 
              label(for="name") 이름:
              input#name(type="text", name="name", value=loggedInUser.name)
            .info.email 
              label(for="email") 이메일:
              input#email(type="text", name="email", value=loggedInUser.email)
              if editAlert
                #error
                  i.fa-solid.fa-circle-exclamation
                  p= editAlert
            .info 
              label(for="phone") 핸드폰 번호:
              input#phone(type="text", name="phone", value=loggedInUser.phone)
            .info.birth
              label(for="birth") 생년월일:
              .birth__row 
                input(
                  type="text",
                  name="year",
                  value=loggedInUser.birth.year ? loggedInUser.birth.year : ""
                )
                | 년
                input(
                  type="text",
                  name="month",
                  value=loggedInUser.birth.month ? loggedInUser.birth.month : ""
                )
                | 월
                input(
                  type="text",
                  name="date",
                  value=loggedInUser.birth.date ? loggedInUser.birth.date : ""
                )
                | 일
            input#submit(type="submit", value="저장")
