extends ../base.pug

block content
  main#profile
    .profile__wrapper
      .menu
        nav
          a(href="/users/edit")
            li.menu.active 계정 설정
          if loggedInUser.socialOnly === false
            a(href="/users/editPW")
              li.menu 비밀번호 변경
          a(href="/users/beforeDelete")
            li.menu 회원 탈퇴

      .body
        form#editUser(method="POST", enctype="multipart/form-data")
          .user__photo 
            input#avatar(type="file", name="avatar")
            label(for="avatar", onclick)
              img(src=`${loggedInUser.avatarUrl}`, alt="")
              span 프로필 변경
          .user__info 
            .info.name
              label(for="name", onclick) 이름
                span *
              input#name(
                type="text",
                name="name",
                value=loggedInUser.name,
                disabled
              )
            .info.email 
              label(for="email", onclick) 이메일
                span *
              input#email(
                type="text",
                name="email",
                value=loggedInUser.email,
                disabled
              )
              p * 이메일을 변경하시려면 고객센터로 문의해 주세요.
              if editAlert
                #error
                  i.fa-solid.fa-circle-exclamation
                  p= editAlert
            .info.phone
              label(for="phone", onclick) 핸드폰 번호
              input#phone(type="text", name="phone", value=loggedInUser.phone)
              p * 유쓰 서비스 이용에 필요한 안내를 알림톡으로 알려드립니다.
              p * 사용하고 계신 휴대전화 번호를 정확하게 입력해주세요.
            .info.birth
              label(for="birth", onclick) 생년월일
              .birth__row 
                input(
                  type="text",
                  name="year",
                  value=loggedInUser.birth.year ? loggedInUser.birth.year : ""
                )
                | 년
                input(
                  type="text",
                  name="month",
                  value=loggedInUser.birth.month ? loggedInUser.birth.month : ""
                )
                | 월
                input(
                  type="text",
                  name="date",
                  value=loggedInUser.birth.date ? loggedInUser.birth.date : ""
                )
                | 일
            input#submit(type="submit", value="저장하기")
