extends ../base.pug

block content
  main#profile
    .profile__wrapper
      .menu
        nav
          a(href="/users/edit")
            li.menu 계정 설정
          a(href="/users/editPW")
            li.menu.active 비밀번호 변경
          a(href="/users/beforeDelete")
            li.menu 회원 탈퇴

      .body
        form#editPW(method="POST")
          .info
            label(for="oldPassword", onclick) 현재 비밀번호
            input#oldPassword(
              type="password",
              name="oldPassword",
              placeholder="기존 비밀번호를 입력해주세요."
            )
            #error
              if uncorrectError
                i.fa-solid.fa-circle-exclamation
                p= uncorrectError
          .info
            label(for="newPassword", onclick) 새 비밀번호
            input#newPassword(
              type="password",
              name="newPassword",
              placeholder="변경할 비밀번호를 입력해주세요."
            )
            #error 
              if newPassError
                i.fa-solid.fa-circle-exclamation
                p= newPassError
          .info 
            label(for="newPasswordConfirm", onclick) 새 비밀번호 확인
            input#newPasswordConfirm(
              type="password",
              name="newPasswordConfirm",
              placeholder="변경할 비밀번호를 한 번 더 입력해주세요."
            )
            #error
              if notMatchError
                i.fa-solid.fa-circle-exclamation
                p= notMatchError
          input#submit(type="submit", value="변경하기")
