extends ../base.pug 

block content 
    main#find-ID-or-PW.find-pw
                .wrapper 
                    .box
                        .find-box 
                            h1 아이디 / 비밀번호 찾기
                        if popup 
                            p#popup #{popup}
                        .category-box 
                            a(href="/login/findID")
                                ul.find-id-btn.in-findPW-page
                                    span 아이디 찾기
                            a(href="/login/findPW")
                                ul.find-pw-btn.in-findPW-page
                                    span 비밀번호 찾기
                        
                        .guide-box 
                            h4 등록된 이메일로 비밀번호 찾기
                            p 가입 당시 입력한 이메일을 통해 인증 후 새 비밀번호를 등록해주세요.
                        
                        .form-box
                            form(method="POST")
                                .email-box
                                    label(for="email") 이메일
                                    div
                                        input#email(type="text", name="email", required, placeholder="이메일", value=email)
                                        input#sendEmailBtn(type="submit", value="인증번호 전송")
                            form(method="POST")
                                .certifi-number-box 
                                    label(for="selfAuthenti") 인증번호
                                    input#selfAuthenti(type="text", name="selfAuthenti", required, value=selfAuthenti placehoder="위 이메일로 전송된 인증번호를 입력해주세요.")
                                .name-box 
                                    label(for="name") 이름
                                    input#name(type="text", name="name", required, placeholder="이름", value=name, minlength="2", maxlength="30")
                                .info
                                    label(for="newPassword", onclick) 새 비밀번호
                                    input#newPassword(
                                        type="password",
                                        name="newPassword",
                                        placeholder="변경할 비밀번호를 입력해주세요."
                                    )
                                    #error 
                                        if newPassError
                                            i.fa-solid.fa-circle-exclamation
                                            p= newPassError
                                .info 
                                    label(for="newPasswordConfirm", onclick) 새 비밀번호 확인
                                    input#newPasswordConfirm(
                                        type="password",
                                        name="newPasswordConfirm",
                                        placeholder="변경할 비밀번호를 한 번 더 입력해주세요."
                                    )
                                    #error
                                        if notMatchError
                                            i.fa-solid.fa-circle-exclamation
                                            p= notMatchError
                                .find-btn 
                                    input(type="submit", value="변경하기")