extends ../base.pug

block content
  main#join 
    .wrapper 
      .join__box 
        h1 회원가입

        //- .social-login__box 
        //-   h5 다른 서비스로 로그인
        //-   .social-login__btns 
        //-     a(href="/login/kakao/start")
        //-       i.fa-solid.fa-comment
        //-     a(href="/login/naver/start")
        //-       img(src="/uploads/naver_icon.png", alt="")

        //- .border 
        //-   hr
        //-   p 또는
        //-   hr
        if popup
          p#popup #{ popup }

        form(method="POST")
          .email__wrapper
            input.input__email(
              type="email",
              required,
              name="email",
              placeholder="이메일",
              value=email
            )
            input.send__email(type="submit", value="인증번호 전송")

        form(method="POST")
          input.input__self-authenti(
              type="text",
              required,
              name="selfAuthenti",
              placeholder="위 이메일로 전송된 인증번호를 입력해주세요.",
              value=selfAuthenti,
          )
          .name__wrapper
            input.input__name(
              type="text",
              required,
              name="name",
              placeholder="이름 (2-30자)",
              minlength="2",
              maxlength="30",
              value=name,
            )
            .gender__wrapper
              input.input__gender(
                type="radio",
                required,
                name="gender",
                value="man",
                checked
              )
              span 남
              input.input__gender(
                type="radio",
                required,
                name="gender",
                value="woman"
              )
              span 여
          input.input__pw(
            type="password",
            required,
            name="password",
            placeholder="비밀번호",
            minlength="8",
            maxlength="20",
            value=password,
          )
          p * 비밀번호는 숫자와 영문자 조합으로 8~20자리를 입력해주세요.
          input.input__pwConfirm(
            type="password",
            required,
            name="passwordConfirm",
            placeholder="비밀번호 확인",
            minlength="8",
            maxlength="20",
            value=passwordConfirm
          )
          .birth__wrapper 
            input.input__year(
              type="text",
              required,
              name="year",
              placeholder="생년",
              minlength="4",
              value=year
            )
            input.input__month(
              type="text",
              required,
              name="month",
              placeholder="월",
              minlength="2",
              value=month
            )
            input.input__date(
              type="text",
              required,
              name="date",
              placeholder="일",
              minlength="2",
              value=date
            )
          input.join__btn(type="submit", value="회원가입")

        .login__link
          span 이미 계정이 있으세요?
          a(href="/login") 로그인
